@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add your custom styles here */
.bg-status-pending {
    background-color: #ddc04d; /* Same as bg-yellow-100 */
}

.bg-status-accepted {
    background-color: #d1fae5; /* Same as bg-green-100 */
}

.bg-status-rejected {
    background-color: #fee2e2; /* Same as bg-red-100 */
}
/* Mengubah warna tombol anak panah swiper menjadi putih */
.swiper-button-next, .swiper-button-prev {
    color: white !important;
    font-size: 0.75rem; /* Adjust the size as needed */
    transform: scale(0.75); /* Makes the buttons smaller */

}
/* Menambahkan style untuk hover jika ingin panah berubah warna saat dihover */
/* .swiper-button-next:hover, .swiper-button-prev:hover {
    color: rgba(255, 255, 255, 0.7);
} */
.transition-all {
    transition: all 0.3s ease;
}
/* Animasi fade in */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
    animation: fadeIn 0.3s ease-out;
}
@keyframes fade-in-down {
    0% { opacity: 0; transform: translateY(-30px);}
    100% { opacity: 1; transform: translateY(0);}
}
@keyframes fade-in-up {
    0% { opacity: 0; transform: translateY(30px);}
    100% { opacity: 1; transform: translateY(0);}
}
.animate-fade-in-down { animation: fade-in-down 1s ease; }
.animate-fade-in-up { animation: fade-in-up 1s ease; }


